@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--base-size: 1.2rem;
	--gutter-size: calc(var(--base-size));

	--font-title: "Instrument Serif", serif;
	--font-body: "Schibsted Grotesk", sans-serif;

	--color--primary: black;
	--color--secondary: gold;
	--color--background: #F4F1EA;
	--color-text: #b9375e;

	font-size: var(--base-size);
}

@media (min-width: 600px){
	:root{
		--base-size: 1.2rem;
		--gutter-size: calc(3 * var(--base-size));

	}
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden; /* Prevents the page from scrolling */
	background-blend-mode: multiply;
	/* z-index: -10000; */
  }


body {
	background-color: var(--color--background);
	font-family: var(--font-body);

}

canvas {
	display: block;
	background: none;
  }

  
header {
	/* background-color: var(--color--background); */
	padding-block: calc(2 * var(--base-size));
	color: var(--color-text);
}

header h1{
	font-size: calc(var(--base-size) *2);
	font-family: var(--font-title);

}

header h2{
	font-family: var(--font-body);
}

.gutters {
	padding-inline: var(--gutter-size);
}

footer {
	--base-size: 48px; 
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}

#main-content {
	block-size: 75vh;
	padding-block: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}

p{
	color: var(--color-text);
}

.project-title{
	font-size: calc(var(--base-size) *2);
	font-family: var(--font-title);

}

ul{
	margin-bottom: 1rem;
}

span{
	position: relative; top: -0.5em; font-size: 50%; 
}

a:hover{
	font-style: italic;
}
/* note: use inline size and block size more*/
